<h1>Practical Tasks<h1>

<h2>Import modules<h2>

In [4]:
import numpy as np
import pandas as pd

<h2>Numpy tasks<h2>

In [5]:
# task 1
a = np.array([[1, 6], [2, 8], [3, 11], [3, 10], [1, 7]])
mean_a = a.mean(axis = 0)
print(f"Average value of features: {mean_a}")

Average value of features: [2.  8.4]

In [6]:
# task 2
a_centered = a - mean_a
print(a_centered)

[[-1.  -2.4]
 [ 0.  -0.4]
 [ 1.   2.6]
 [ 1.   1.6]
 [-1.  -1.4]]

In [7]:
# task 3 and 4
a_centered_sp = np.dot(a_centered[:,0], a_centered[:,1])
cov_XY = a_centered_sp / (a_centered.shape[0] - 1)
print(f"Unbiased estimation of features covariance: {cov_XY} (user method) or {np.cov(a.T, ddof=1)[0, 1]} (built-in method)")

Unbiased estimation of features covariance: 2.0 (user method) or 2.0 (built-in method)

<h2>Pandas tasks<h2>

In [8]:
# task 1
authors = pd.DataFrame({
    'author_id': [1, 2, 3],
    'author_name': ['Тургенев', 'Чехов', 'Островский']
})
books = pd.DataFrame({
    'author_id': [1, 1, 1, 2, 2, 3, 3],
    'book_title': ['Отцы и Дети', 'Рудин', 'Дворянское гнездо', 'Толстый и тонкий', 'Дама с собачкой', 'Гроза', 'Таланты и поклонники'],
    'price': [450, 300, 350, 500, 450, 370, 290]
})

In [9]:
# task 2
authors_price = pd.merge(authors, books, on='author_id', how='inner')
authors_price

   author_id author_name            book_title  price
0          1    Тургенев           Отцы и Дети    450
1          1    Тургенев                 Рудин    300
2          1    Тургенев     Дворянское гнездо    350
3          2       Чехов      Толстый и тонкий    500
4          2       Чехов       Дама с собачкой    450
5          3  Островский                 Гроза    370
6          3  Островский  Таланты и поклонники    290

In [10]:
# task 3
top5 = authors_price.nlargest(5, 'price')
top5.reset_index(drop=True, inplace=True)
top5

   author_id author_name         book_title  price
0          2       Чехов   Толстый и тонкий    500
1          1    Тургенев        Отцы и Дети    450
2          2       Чехов    Дама с собачкой    450
3          3  Островский              Гроза    370
4          1    Тургенев  Дворянское гнездо    350

In [11]:
# task 4
groupby = authors_price.groupby("author_id")

authors_stat = pd.DataFrame({
    authors_price.columns[1]: authors_price[authors_price.columns[1]].unique(),
    "min_price": groupby['price'].min().values,
    "max_price": groupby['price'].max().values,
    "mean_price": groupby['price'].mean().values.astype(int)
})
authors_stat

  author_name  min_price  max_price  mean_price
0    Тургенев        300        450         366
1       Чехов        450        500         475
2  Островский        290        370         330

In [12]:
# task 5*
authors_price['cover'] = ['твердая', 'мягкая', 'мягкая', 'твердая', 'твердая', 'мягкая', 'мягкая']
book_info = pd.pivot_table(authors_price, values='price', index=['author_name'], columns=['cover'], aggfunc=np.sum, fill_value=0)
print(book_info)
book_info.to_pickle("book_info.pkl")
book_info2 = pd.read_pickle("book_info.pkl")
print(f'\nAre two dataframes the same? Ans: {book_info2.equals(book_info)}')

cover        мягкая  твердая
author_name
Островский      660        0
Тургенев        650      450
Чехов             0      950

Are two dataframes the same? Ans: True